body {
    background-image: url(https://png.pngtree.com/thumb_back/fw800/background/20200322/pngtree-abstract-technology-particle-background-image_332365.jpg);
    background-size: 100%;
    color: white;
    margin-top: 0px;
}
.container {
    width: 95%;
    max-width: 1100px;
    margin-left: auto;
    margin-right: auto;
    box-shadow: 1px, 1px, 5px;
    background-color: rgba(0, 0, 0, 0.8);
    margin-top: 0px;
}

.header {
    text-align: center;
    font-size: 50px;
}
.answer {
    padding: 10px;
    width: 95%;
    margin-left: auto;
    margin-right: auto;
    margin-top: 10px;
    margin-bottom: 10px;
    border: 1px solid slategrey;
    border-radius: 5px;
}
a {
    color: violet;
}
.mainlist {
    list-style-type: none;
    padding-inline-start: 5px;
}
.sublist {
    list-style-type: none;
    padding-inline-start: 15px;
}
.special {
    padding-top: 0px;
    padding-bottom: 0px;
}
